<div class="addresses-component">
  <form class="form" [formGroup]="addressForm">
    <div class="addresses">
      <h1>Ajouter une adresse</h1>
      <label for="street">Rue</label>
      <input formControlName="street" name="street" />
      <label for="cp">Code postal</label>
      <input formControlName="cp" name="cp" />
      <label for="city">Ville</label>
      <input formControlName="city" name="city" />
      <label for="country">Pays</label>
      <input formControlName="country" name="country" />
      <button class="add" (click)="addAddress()">+</button>
    </div>
  </form>
  <div class="addresses">
    <h1>Mes adresses enregistrées</h1>
    <ul *ngIf="addresses$ | async as addresses">
      <li style="color: black" *ngFor="let address of addresses">
        {{ address.city }} {{ address.street }} {{ address.cp }}
        {{ address.country }}
      </li>
    </ul>
  </div>
</div>
