<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span style="padding-left: 20px">Projet - NFE114</span>
  <div class="spacer"></div>
  <div class="links">
    <a class="link" routerLink="catalogue">Catalogue</a>
    <a *ngIf="!currentUser" class="link" routerLink="saisieClient"
      >Inscription</a
    >
    <a *ngIf="!currentUser" class="link" routerLink="signin">Connexion</a>
    <button *ngIf="currentUser" class="link" (click)="logout()">
      Déconnexion
    </button>
    <a class="link" routerLink="addresses">Mes adresses</a>
    <div style="display: flex">
      <a class="link" routerLink="cart"
        >Panier <span class="cart">{{ productNb$ | async }}</span></a
      >
    </div>
    <a class="link" routerLink="/">Accueil</a>
  </div>
</div>
