<div
  style="display: flex; justify-content: center; align-items: center; gap: 10px"
>
  <select
    [(ngModel)]="filterItem"
    style="height: 40px; background-color: var(--primary)"
  >
    <option value="libelle">Libellé</option>
    <option value="prix">Prix</option>
  </select>

  <input
    style="background-color: white; color: black; height: 30px"
    [(ngModel)]="search"
    (input)="filter()"
    placeholder="Rechercher par {{ filterItem }}"
  />
  <fa-icon [icon]="faSearch"></fa-icon>
</div>
