* {
  color: var(--primary);
  padding: 20px;
}

th,
tr,
td {
  border: 1px solid var(--primary);
}

input {
  background-color: white;
  color: black;
  padding: 10px;
  margin-bottom: 10px;
  width: 10%;
}

.filtered-column {
  background-color: var(--primary);
  color: black;
  font-weight: bold;
}
