<div class="form-container">
  <form [formGroup]="form" class="form" style="grid-column: 1">
    <h1>Formulaire de saisie d'informations client</h1>
    <i>Les champs avec un (*) sont requis.</i>

    <div class="form-group">
      <div class="sticky" style="background-color: var(--main)">
        <h2>Informations</h2>
      </div>
      <label for="nom">Nom *</label>
      <input
        formControlName="nom"
        [ngClass]="{
          'input-wrong': nom && nom.invalid && nom.touched
        }"
        name="nom"
        required
      />
      <small class="error-message" *ngIf="nom && nom.invalid && nom.touched">
        Veuillez renseigner un nom
      </small>
      <label for="prenom">Prénom *</label>
      <input
        formControlName="prenom"
        [ngClass]="{
          'input-wrong': prenom && prenom.invalid && prenom.touched
        }"
        name="prenom"
        required
      />
      <small
        class="error-message"
        *ngIf="prenom && prenom.invalid && prenom.touched"
      >
        Veuillez renseigner un prénom
      </small>
      <label for="civilite">Civilité</label>
      <select formControlName="civilite" name="civilite">
        <option>M</option>
        <option>F</option>
      </select>
    </div>
    <div class="form-group">
      <div class="sticky" style="background-color: var(--main)">
        <h2>Coordonnées</h2>
      </div>
      <label for="adresse">Adresse</label>
      <input formControlName="adresse" name="adresse" />
      <label for="cp">Code postal</label>
      <input formControlName="cp" name="cp" />
      <label for="ville">Ville</label>
      <input formControlName="ville" name="ville" />
      <label for="tel">Téléphone * <i>(10 chiffres requis)</i></label>
      <input
        [ngClass]="{
          'input-wrong': tel.invalid && tel.touched
        }"
        formControlName="tel"
        type="tel"
        name="tel"
        required
        tel
      />
      <small *ngIf="tel.invalid && tel.touched" class="error-message">
        Merci de renseigner un numéro de téléphone valide.
      </small>
      <label for="pays">Pays</label>
      <input formControlName="pays" name="pays" />
      <label for="email">Email *</label>
      <input
        formControlName="email"
        type="email"
        [ngClass]="{
          'input-wrong': email.invalid && email.touched
        }"
        name="email"
        required
        email
      />
      <small *ngIf="email.invalid && email.touched" class="error-message">
        Merci de renseigner une adresse mail valide.
      </small>
    </div>

    <div
      class="form-group connexion"
      style="
        background-color: var(--primary);
        color: black;
        padding: 10px;
        border-radius: 5px;
        margin-top: 10px;
      "
    >
      <h2>Connexion</h2>
      <label for="login">Login *</label
      ><input
        formControlName="login"
        [ngClass]="{ 'input-wrong': !login }"
        name="login"
        required
      />
      <label for="password">Mot de passe *</label
      ><input
        formControlName="password"
        type="password"
        name="password"
        required
      />

      <label for="confirmPassword">Confirmer le mot de passe *</label>
      <input
        formControlName="confirmPassword"
        [ngClass]="{
          'input-wrong': confirmPassword.invalid && confirmPassword.touched
        }"
        type="password"
        name="confirmPassword"
        required
      />
      <small
        class="error-message"
        *ngIf="confirmPassword.invalid && confirmPassword.touched"
        >Veuillez renseigner le même mot de passe</small
      >
    </div>

    <button
      style="margin-top: 10px"
      [ngClass]="{
        'btn-primary': form.valid
      }"
      (click)="showRecap()"
      [disabled]="form.invalid"
    >
      Envoyer
    </button>
  </form>
  <div>
    <app-recapitulatif
      [submitted]="submitted"
      [nom]="this.form.get('nom')?.value"
      [prenom]="this.form.get('prenom')?.value"
      [civilite]="this.form.get('civilite')?.value"
      [adresse]="this.form.get('adresse')?.value"
      [cp]="this.form.get('cp')?.value"
      [ville]="this.form.get('ville')?.value"
      [tel]="this.form.get('tel')?.value"
      [email]="this.form.get('email')?.value"
      [pays]="this.form.get('pays')?.value"
      [login]="this.form.get('login')?.value"
      [password]="this.form.get('password')?.value"
    ></app-recapitulatif>
  </div>
</div>
